.blog-section {
  background-color: #f8f9fa;
  width: 100vw;
}

.blog-card {
  box-shadow: 0 2px 20px #2875bd17;
  transition: box-shadow 0.14s, transform 0.14s;
}
.blog-card:hover {
  box-shadow: 0 10px 32px #477ce933;
  transform: translateY(-3px) scale(1.013);
}
