.btn-primary {
  outline: none;
  border: none;
  background: linear-gradient(90deg, #2679ca 60%, #61dafb);
  color: #fff;
  font-weight: 600;
  box-shadow: 0 1px 8px #b5d9ee44;
  transition: background .18s, box-shadow .14s;
}
.btn-primary:hover:enabled {
  background: #2679ca;
  box-shadow: 0 2px 12px #79cdf818;
}
input, textarea {
  transition: border 0.13s;
}
input:focus, textarea:focus {
  border-color: #61dafb;
  outline: none;
  box-shadow: 0 2px 10px #60b8e422;
}


