<div class="splash-container">
  <canvas #gradientCanvas class="background-canvas"></canvas>
  <div class="business-card">
    <div class="center-message">
      <span class="splash-title font-semibold tracking-wider"
        >Aleksa Papovic</span
      >
      <span class="splash-subtitle block mt-1 text-blue-600 text-lg font-medium"
        >Full Stack Developer</span
      >
    </div>
    <div class="fade-welcome mt-10" [class.visible]="loaderPercent > 5">
      Welcome
    </div>
  </div>
</div>
